body {
    font-family: monospace;
    height: 100vh;
    background: linear-gradient(-50deg, #262424, #50231e, #e7310e, #e0e0e0);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

#chatbox {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 50px;
    padding: 20px;
}

.botText {
    background: linear-gradient(to right, #171515, #f1653a);
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
    max-width: 80%;
    font-size: 16px;
}

#userInput {
    background-color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 200px;
}

#textInput {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-family: monospace;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#textInput:focus {
    outline: none;
    border-color: #899909;
    box-shadow: 0 2px 8px rgba(137, 153, 9, 0.4);
}

#buttonInput {
    padding: 10px 20px;
    font-family: monospace;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(to right, #171515, #f1653a);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#buttonInput:hover {
    background: linear-gradient(to right, #171515, #f1653a);
}


#buttonInput:active {
    background-color: #6a6e05;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.chatbot-mainbox {
    background-color: #f2f2f2;
    width: 40%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.userText {
    text-align: right;
    font-size: 16px;
}


#downscrollButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #171515, #f1653a);
    color: white;
    font-family: monospace;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#downscrollButton:hover {
    background: linear-gradient(to right, #171515, #f1653a);
}

#downscrollButton:active {
    background-color: #6a6e05;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}